In [1]:
import pandas as pd
import urllib.request
import geojson
import geopandas as gpd

In [2]:
data = pd.read_csv("input_dataset_incidents.csv")
df = pd.DataFrame(data)

In [3]:
df

,ID,Zones,Country,Year_start,Month_start,Year_end,Month_end,Location concat,GeometryQuery,Geometry,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,1981-9309-BWA,Botswana,Botswana,1982,4,1987,0,Botswana,https://nominatim.openstreetmap.org/search.php...,NaN,...,NaN,Km2,NaN,NaN,NaN,NaN,1982,4.0,NaN,1987
1,1981-9307-CUB,Cuba,Cuba,1981,0,1983,0,Cuba,https://nominatim.openstreetmap.org/search.php...,NaN,...,NaN,Km2,NaN,NaN,NaN,NaN,1981,NaN,NaN,1983
2,1982-9350-BGD,Bangladesh,Bangladesh,1983,7,1983,0,Bangladesh,https://nominatim.openstreetmap.org/search.php...,NaN,...,NaN,Km2,NaN,NaN,NaN,NaN,1983,7.0,NaN,1983
3,1983-9007-BOL,Altiplano,Bolivia,1983,4,1983,0,"Altiplano (High Plateaux), Bolivia",https://nominatim.openstreetmap.org/search.php...,NaN,...,NaN,Km2,NaN,NaN,NaN,NaN,1983,4.0,NaN,1983
4,1983-9206-BRA,"Northeast, Sertao",Brazil,1983,9,1983,0,"Northeast, Sertao, Brazil",https://nominatim.openstreetmap.org/search.php...,NaN,...,NaN,Km2,NaN,NaN,NaN,NaN,1983,9.0,NaN,1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,2009-9660-NPL,"Far Western, Mid Western",Nepal,2009,0,2009,0,"Far Western, Mid Western provinces, Nepal",https://nominatim.openstreetmap.org/search.php...,NaN,...,NaN,Km2,NaN,NaN,NaN,NaN,2009,NaN,NaN,2009
104,2009-9210-PRY,"Boqueron, Presidente Hayes, Alto Paraguay, Con...",Paraguay,2009,1,2009,11,"Boqueron, Presidente Hayes, Alto Paraguay, Con...",https://nominatim.openstreetmap.org/search.php...,NaN,...,NaN,Km2,NaN,NaN,NaN,NaN,2009,1.0,NaN,2009
105,2009-9415-SLV,"Ahuachapan, Cabanas, Chalatenango, Cuscatlan, ...",El Salvador,2009,0,2009,0,"Ahuachapan, Cabanas, Chalatenango, Cuscatlan, ...",https://nominatim.openstreetmap.org/search.php...,NaN,...,NaN,Km2,NaN,NaN,NaN,NaN,2009,NaN,12.0,2009
106,2011-9312-AFG,"Balkh, Samangan, Takhar, Sar e Pul, Hirat, Bad...",Afghanistan,2011,1,2011,8,"Balkh, Samangan, Takhar, Sar-e-Pul, Hirat, Bad...",https://nominatim.openstreetmap.org/search.php...,NaN,...,NaN,Km2,NaN,NaN,NaN,NaN,2011,1.0,NaN,2011
107,2011-9629-LSO,"Quthing, Mohale s Hoek, Mafeteng, Maseru, Bere...",Lesotho,2011,12,2012,10,"Quthing, Mohale's Hoek, Mafeteng, Maseru, Bere...",https://nominatim.openstreetmap.org/search.php...,NaN,...,NaN,Km2,NaN,NaN,NaN,NaN,2011,12.0,NaN,2012

In [4]:
useful_data = df[["Country", "Zones", "ID"]]

In [5]:
useful_data

,Country,Zones,ID
0,Botswana,Botswana,1981-9309-BWA
1,Cuba,Cuba,1981-9307-CUB
2,Bangladesh,Bangladesh,1982-9350-BGD
3,Bolivia,Altiplano,1983-9007-BOL
4,Brazil,"Northeast, Sertao",1983-9206-BRA
...,...,...,...
103,Nepal,"Far Western, Mid Western",2009-9660-NPL
104,Paraguay,"Boqueron, Presidente Hayes, Alto Paraguay, Con...",2009-9210-PRY
105,El Salvador,"Ahuachapan, Cabanas, Chalatenango, Cuscatlan, ...",2009-9415-SLV
106,Afghanistan,"Balkh, Samangan, Takhar, Sar e Pul, Hirat, Bad...",2011-9312-AFG
107,Lesotho,"Quthing, Mohale s Hoek, Mafeteng, Maseru, Bere...",2011-9629-LSO

In [6]:
for row in useful_data.itertuples(index=False):
    print(row)
    for i, location in enumerate(row.Zones.split(", ")):
        for l in location.split(", "):
            l = l.replace(" ", "%20")
            country = row.Country.replace(" ", "%20")
            target = l + ',' + country
            adress = f"https://nominatim.openstreetmap.org/search.php?q={target}&limit=1&polygon_geojson=1&polygon_threshold=0.01&format=geojson"
            name = row.ID + "_" + str(i)
            destination = f"Output/{name}.geojson"
            try:
                urllib.request.urlretrieve(adress, destination)
                print("SUCCESS! Features for")
                print(name)
            except:
                print('WARNING: FAILED TO PROCESS')
                print(name)

Pandas(Country='Botswana', Zones='Botswana', ID='1981-9309-BWA')
SUCCESS! Features for
1981-9309-BWA_0
Pandas(Country='Cuba', Zones='Cuba', ID='1981-9307-CUB')
SUCCESS! Features for
1981-9307-CUB_0
Pandas(Country='Bangladesh', Zones='Bangladesh', ID='1982-9350-BGD')
SUCCESS! Features for
1982-9350-BGD_0
Pandas(Country='Bolivia', Zones='Altiplano', ID='1983-9007-BOL')
SUCCESS! Features for
1983-9007-BOL_0
Pandas(Country='Brazil', Zones='Northeast, Sertao', ID='1983-9206-BRA')
SUCCESS! Features for
1983-9206-BRA_0
SUCCESS! Features for
1983-9206-BRA_1
Pandas(Country='Brazil', Zones='Rio Grande Do Sul', ID='1985-9011-BRA')
SUCCESS! Features for
1985-9011-BRA_0
Pandas(Country='Cuba', Zones='Cuba', ID='1986-9404-CUB')
SUCCESS! Features for
1986-9404-CUB_0
Pandas(Country='Brazil', Zones='Alagoas, Minas, Bahia, Maranhao, Piaui, Ceara, Rio Grande Do Norte, Paraiba, Pernambuco, Sergipe, Mina Gerais states', ID='1987-9103-BRA')
SUCCESS! Features for
1987-9103-BRA_0
SUCCESS! Features for
1987-9103-BRA_1
SUCCESS! Features for
1987-9103-BRA_2
SUCCESS! Features for
1987-9103-BRA_3
SUCCESS! Features for
1987-9103-BRA_4
SUCCESS! Features for
1987-9103-BRA_5
SUCCESS! Features for
1987-9103-BRA_6
SUCCESS! Features for
1987-9103-BRA_7
SUCCESS! Features for
1987-9103-BRA_8
SUCCESS! Features for
1987-9103-BRA_9
SUCCESS! Features for
1987-9103-BRA_10
Pandas(Country='Guatemala', Zones='Chiquimula area', ID='1987-9588-GTM')
SUCCESS! Features for
1987-9588-GTM_0
Pandas(Country='Sri Lanka', Zones='Central', ID='1980-9011-LKA')
WARNING: FAILED TO PROCESS
1980-9011-LKA_0
Pandas(Country='Jamaica', Zones='Jamaica', ID='1981-9209-JAM')
SUCCESS! Features for
1981-9209-JAM_0
Pandas(Country='Sri Lanka', Zones='Sri Lanka', ID='1981-9005-LKA')
SUCCESS! Features for
1981-9005-LKA_0
Pandas(Country='Namibia', Zones='Namibia', ID='1981-9309-NAM')
SUCCESS! Features for
1981-9309-NAM_0
Pandas(Country='Sri Lanka', Zones='Sri Lanka', ID='1982-9350-LKA')
SUCCESS! Features for
1982-9350-LKA_0
Pandas(Country='India', Zones='Bhiwani, Gurgaon, Hisar, Mahendargarh, Rohtak, Kerala, Tamil Nadu, Rajasthan', ID='1982-9350-IND')
SUCCESS! Features for
1982-9350-IND_0
SUCCESS! Features for
1982-9350-IND_1
SUCCESS! Features for
1982-9350-IND_2
SUCCESS! Features for
1982-9350-IND_3
SUCCESS! Features for
1982-9350-IND_4
SUCCESS! Features for
1982-9350-IND_5
SUCCESS! Features for
1982-9350-IND_6
SUCCESS! Features for
1982-9350-IND_7
Pandas(Country='Panama', Zones='Panama city', ID='1983-9331-PAN')
SUCCESS! Features for
1983-9331-PAN_0
Pandas(Country='Lesotho', Zones='Lesotho', ID='1983-9182-LSO')
SUCCESS! Features for
1983-9182-LSO_0
Pandas(Country='Peru', Zones='Puno ', ID='1983-9007-PER')
SUCCESS! Features for
1983-9007-PER_0
Pandas(Country='Paraguay', Zones='Paraguay', ID='1983-9332-PRY')
SUCCESS! Features for
1983-9332-PRY_0
Pandas(Country='India', Zones='Gujarat, Rajasthan, Orissa, Madhya Pradesh, Andhra Pradesh, Maharashtra', ID='1987-9024-IND')
SUCCESS! Features for
1987-9024-IND_0
SUCCESS! Features for
1987-9024-IND_1
SUCCESS! Features for
1987-9024-IND_2
SUCCESS! Features for
1987-9024-IND_3
SUCCESS! Features for
1987-9024-IND_4
SUCCESS! Features for
1987-9024-IND_5
Pandas(Country='Sri Lanka', Zones='North, Northeast', ID='1987-9025-LKA')
SUCCESS! Features for
1987-9025-LKA_0
SUCCESS! Features for
1987-9025-LKA_1
Pandas(Country='South Africa', Zones='Natal', ID='1980-9125-ZAF')